@use 'variables' as variable;

.wrapper {
  background-color: variable.$primary-color;
}

.header {
  display: flex;
  align-items: center;
  color: white;
  position: relative;
  top: 0;
  padding: 0 1rem;
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  height: 56px;
}

.navWrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


// ============


.main {
  max-width: 1200px;
  margin: 1rem auto 0;
  padding: 0 1rem;
}

.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 10000;
  gap: 1rem;
}

.nav ul li a {
  display: flex;
  padding: 10px 0;
  text-decoration: none;
  color: var(--text-color);
  text-align: center;
}

.nav ul li:hover > ul {
  display: flex;
  justify-content: flex-start;
}

.nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: transparent;
  margin-top: 8px;
}

.nav ul ul li {
  font-size: 14px;
  color: black;
}

.nav li:hover > a,
.nav a:focus {
  background: var(--primary);
  color: var(--white);
}